/* Custom Variables */

/* colours */
:root {
    --pri: #52b788;
    --light: #fff;
    --dark: #081c15;
}

/* font-weight */
:root {
    --font-light: 200;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi: 600;
    --font-bold: 700;
}

:root {
    font-size: 16px !important;
}

:root {
    --subhead: 1.8rem !important;
    --header: 2rem !important;
    --header-lg: 4rem !important;
    --subhead-sm: 1.2rem !important;
    --bodycopy: 0.8rem !important;
}

/* custom font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Global Resets */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    outline: none;
    overflow-x: hidden;
    line-height: 1.6;
    background: var(--light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

/* global animation */

.fade-in {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform: translateY(10px);
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0px);
}

/* Header.php */

.nav-con {
    width: 100vw;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.logo-con {
    height: 60px;
    width: 60px;
}

.logo-con svg {
    fill: var(--pri);
    width: 100%;
}

.menu-primary-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
}

.menu-primary-container ul li {
    font-size: var(--subhead-sm);
    font-weight: var(--font-medium);
}

.menu-item a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;

    transition: all 0.3s ease;
}

.menu-item a:hover::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: var(--dark);
    border-radius: 0.09rem;
}

.menu-item-66 {
    background: var(--pri);
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid var(--pri);
    transition: all 0.3s ease;
}

.menu-item-66 a {
    color: var(--light);
    transition: all 0.3s ease;
}

.menu-item-66 a::after,
.menu-item-66 a:hover::after,
.menu-item-66 a:focus::after {
    height: 0;
}

.menu-item-66:hover,
.menu-item-66:focus {
    background: var(--light);
}

.menu-item-66:hover a,
.menu-item-66:focus a {
    color: var(--pri);
}

.current-menu-item a {
    transition: all 0.3s ease;
}

.current-menu-item a::after {
    background: var(--dark);
    width: 100%;
}

.current-menu-item a:hover,
.current-menu-item a:focus {
    color: var(--pri);
}

.current-menu-item a:hover::after,
.current-menu-item a:focus::after {
    background: var(--pri);
}

.hamburger-btn,
.close-nav-btn {
    display: none;
}

/* footer */
footer {
    width: 100vw;
    height: 170px;
    background: var(--pri);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
}

footer li {
    display: block;
}

footer li a {
    color: var(--light);
    font-size: var(--bodycopy);
    padding: 5px 0;
}

.social-con i {
    font-size: var(--header-lg);
}

.social-con a {
    color: var(--light);
}

.page-item-12,
.page-item-13 {
    display: none;
}

footer li a:hover {
    text-decoration: underline;
}

/* home/front-page */

.welcome-con {
    width: 100vw;
    height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-img-con {
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.hero-img {
    width: 105%;
}

.hero-img-mb {
    display: none;
}

.cta-con {
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-title {
    font-size: var(--header-lg);
    font-weight: var(--font-semi);
}

.home-sub {
    font-size: var(--subhead-sm);
    font-style: italic;
    font-weight: var(--font-medium);
}

.info-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5vw 10vw;
}

.info-item-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
}

.icon-con {
    height: 60px;
    width: 60px;
}

.fas {
    font-size: 50px;
    text-align: center;
    width: 100%;
    line-height: 60px;
    color: var(--pri);
}

.info-title {
    font-size: var(--subhead);
    font-weight: var(--font-medium);
    color: var(--pri);
}

.info-sub {
    font-size: 1rem;
    color: var(--dark);
    font-weight: var(--font-normal);
    padding-bottom: 0.8rem;
}

.info-button {
    padding: 8px 16px;
    border: 1px solid var(--pri);
    background: var(--light);
    border-radius: 3px;
    transition: all 0.3s ease;
    min-width: 100px;
}

.info-button a {
    color: var(--pri);
    font-size: var(--subhead-sm);
}

.info-button:hover {
    background: var(--pri);
    border: 1px solid var(--pri);
}

.info-button:hover a {
    color: var(--light);
}

/* about Page */

.about-con {
    max-width: 100vw;
    min-height: calc(100vh - 100px);
    padding: 2.5vw 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-img-con {
    width: 35vw;
    height: 100%;
}

.about-text-con {
    width: 35vw;
}

.about-header {
    font-size: var(--header);
    font-weight: var(--font-semi);
    padding-bottom: 1rem;
    color: var(--pri);
}

.about-subhead {
    font-size: var(--subhead-sm);
    font-weight: var(--font-semi);
    padding: 1rem 0 0.5rem 0;
    color: var(--pri);
}

.about-bodycopy {
    font-size: var(--bodycopy);
    width: clamp(45ch, 35vw, 75ch);
    margin: 0 0 1rem 0;
}

.about-list {
    list-style-type: disc;
}

.about-list li {
    padding: 0.5rem 0;
}

.about-img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.about-img img {
    height: auto;
    width: 100%;
}

.about-img:nth-child(1) {
    margin-bottom: 2.5vw;
}

/* Adopt Page */
.adopt-con {
    padding: 0 0 5vw 0;
}

.adopt-img {
    width: 100vw;
    height: 40vw;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5vw;
}

.adopt-lg-img {
    width: 100%;
}

.adopt-text-con {
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(51vh - 102px);
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
}

.adopt-list {
    list-style-type: disc;
}

.adopt-header,
.adopt-subhead {
    color: var(--pri);
    font-weight: var(--font-semi);
}

.adopt-header {
    font-size: var(--header);
    padding-bottom: 1rem;
}

.adopt-subhead {
    font-size: var(--subhead-sm);
    padding: 1rem 0 0.5rem 0;
}

.adopt-bodycopy {
    font-size: var(--bodycopy);
    width: 35vw;
    margin: 0 0 1rem 0;
}

.adopt-details {
    font-weight: var(--font-semi);
}

.adopt-mb-img {
    display: none;
}

/* shop page */

.woocommerce .products ul,
.woocommerce ul.products {
    padding: 0 10vw;
    min-height: 60vh;
}

.woocommerce-breadcrumb {
    display: none;
}

.page-title {
    font-size: var(--subhead);
    color: var(--pri);
    font-weight: var(--font-semi);
    padding: 2.5vw 10vw;
}

.woocommerce-loop-product__title {
    font-size: var(--subhead-sm);
    font-weight: var(--font-semi);
    color: var(--pri);
}

.price span {
    color: var(--dark);
    font-size: var(--bodycopy);
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background: var(--light);
    border-radius: 3px;
    border: 1px solid var(--pri);
    color: var(--pri);
    font-size: var(--bodycopy);
    font-weight: var(--font-medium);
    transition: 0.3s ease all;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus {
    background: var(--pri);
    color: var(--light);
}

.cart-collaterals {
    padding: 0 10vw 5vw;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background: var(--pri);
    border-radius: 3px;
    border: 1px solid var(--pri);
    transition: all 0.3s ease;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus {
    background: var(--light);
    color: var(--pri);
}

.cart_totals h2 {
    font-size: var(--subhead-sm);
    font-weight: var(--font-medium);
}

.woocommerce-Price-amount,
.amount {
    font-size: var(--bodycopy);
    font-weight: var(--font-normal);
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-size: var(--bodycopy);
    font-weight: var(--font-normal);
}

.woocommerce table.shop_table {
    padding: 5vw 10vw;
}

.input-text,
.country_select {
    min-height: 2rem;
}

.woocommerce-billing-fields {
    padding: 2.5vw 2.5vw 0 10vw;
}

.woocommerce-additional-fields {
    padding: 2.5vw 10vw 0 2.5vw;
}

#order_review_heading {
    padding: 2.5vw 0 0 10vw;
}

.woocommerce-privacy-policy-text {
    display: none;
}

.woocommerce-info {
    padding: 1rem 13vw;
    border-top-color: var(--pri);
}

.woocommerce-info::before {
    padding: 0 10vw;
    color: var(--pri);
}

#order_comments {
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0.5rem;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    padding: 1rem 10vw;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment,
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    background: none;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    margin-right: 10vw;
}

.cart-header {
    padding: 5vw 10vw;
    font-weight: var(--font-semi);
    font-size: var(--subhead);
    color: var(--pri);
}

.woocommerce {
    min-height: 67vh;
}

.woocommerce a.added_to_cart {
    font-size: var(--bodycopy);
    padding: 1rem;
}

.page-description form {
    position: fixed;
    right: 10vw;
    bottom: 10vw;
}

/* large tablet  */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    :root {
        font-size: 14px;
    }

    .welcome-con {
        height: 60vh;
    }

    .hero-img {
        height: 100%;
    }

    .menu-primary-container ul {
        width: 50vw;
    }

    .logo-con svg {
        fill: var(--pri);
        height: 40px;
        width: 40px;
    }

    .nav-con {
        height: 70px;
    }

    .logo-con {
        display: flex;
        align-items: center;
    }

    .info-item-con {
        width: 33.333vw;
    }

    .info-sub {
        font-size: 0.9rem;
    }

    .fas {
        font-size: 40px;
    }

    .info-button {
        padding: 3px 8px;
    }

    .info-button a {
        font-size: 1rem;
    }

    footer {
        height: 150px;
        margin-top: 5vw;
    }

    .social-con i {
        font-size: 40px;
    }

    /* about page */

    .about-text-con {
        width: 60vw;
        height: auto;
    }

    .about-bodycopy {
        width: clamp(45ch, 60vw, 75ch);
    }

    .about-img-con {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin-top: 5vw;
        height: 25vh;
        overflow: hidden;
    }

    .about-img {
        width: 47.5%;
        margin: 0;
        height: 100%;
    }

    .about-img img {
        height: 100%;
        width: auto;
    }

    /* adopt page */
    .adopt-con {
        padding-bottom: 0;
    }

    .adopt-img {
        height: 50vh;
        margin-top: 0;
    }

    .adopt-text-con {
        height: 40vw;
    }

    /* checkout */

    .woocommerce-info {
        padding: 1rem 16vw;
    }
}

/* tablet sm */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    :root {
        font-size: 14px;
    }

    .welcome-con {
        height: 60vh;
    }

    .hero-img {
        height: 100%;
    }

    .menu-primary-container ul {
        width: 50vw;
    }

    .logo-con svg {
        fill: var(--pri);
        height: 40px;
        width: 40px;
    }

    .nav-con {
        height: 70px;
    }

    .logo-con {
        display: flex;
        align-items: center;
    }

    .info-item-con {
        width: 33.333vw;
    }

    .info-sub {
        font-size: 0.9rem;
    }

    .fas {
        font-size: 40px;
    }

    .info-button {
        padding: 3px 8px;
    }

    .info-button a {
        font-size: 1rem;
    }

    footer {
        height: 150px;
        margin-top: 5vw;
    }

    .social-con i {
        font-size: 40px;
    }

    /* about page */

    .about-text-con {
        width: 60vw;
        height: auto;
    }

    .about-bodycopy {
        width: clamp(45ch, 60vw, 75ch);
    }

    .about-img-con {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin-top: 5vw;
        height: 25vh;
        overflow: hidden;
    }

    .about-img {
        width: 47.5%;
        margin: 0;
        height: 100%;
    }

    .about-img img {
        height: 100%;
        width: auto;
    }

    /* adopt page */
    .adopt-con {
        padding-bottom: 0;
    }

    .adopt-img {
        height: 50vh;
        margin-top: 0;
    }

    .adopt-text-con {
        height: 60vw;
    }

    .woocommerce-additional-fields {
        padding: 5vw 10vw;
    }

    #add_payment_method #payment div.form-row,
    .woocommerce-cart #payment div.form-row,
    .woocommerce-checkout #payment div.form-row {
        padding: 1rem 10vw;
    }

    .woocommerce #payment #place_order,
    .woocommerce-page #payment #place_order {
        height: 4rem;
        font-size: var(--subhead-sm);
    }

    .woocommerce-billing-fields {
        padding: 5vw 10vw;
    }

    .woocommerce-info {
        padding: 1rem 18vw;
    }
}

@media screen and (max-device-width: 767px) {
    :root {
        font-size: 14px;
    }

    html {
        margin: 0 !important;
    }

    /* header.php */

    .hamburger-btn {
        display: flex;
        height: 21px;
        width: 24px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        right: 10vw;

        transition: all 0.3s ease;
    }

    .hamburger-btn span,
    .hamburger-btn span::after,
    .hamburger-btn span::before {
        content: '';
        display: block;
        height: 3px;
        border-radius: 3px;
        width: 100%;
        background: var(--dark);
        overflow-x: visible;
        position: relative;
        z-index: 30;
        transition: all 0.3s ease;
    }

    .hamburger-btn span::before {
        transform: translateY(-8px);
    }

    .hamburger-btn span::after {
        transform: translateY(5px);
    }

    .hamburger-btn.nav-active span {
        transform: rotate(-45deg);
        background: var(--light);
        transition: all 0.3s ease;
    }

    .hamburger-btn.nav-active span::before {
        display: block;
        transform: translate(0, 0) rotate(90deg);
        background: var(--light);
    }

    .hamburger-btn.nav-active span::after {
        display: block;
        transform: translate(100px, 0) rotate(45deg);
        background: var(--light);
    }

    .menu-primary-container ul {
        display: none;
    }

    .menu-primary-container.nav-active {
        width: 100vw;
        height: 100vh;
        background: var(--pri);
        color: var(--light);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
    }

    .menu-primary-container.nav-active ul {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
    }

    .menu-primary-container.nav-active a {
        color: var(--light);
        font-size: 18px;
    }

    .current-menu-item a {
        color: var(--light);
    }

    .nav-con {
        height: 50px;
    }

    .logo-con svg {
        fill: var(--pri);
        height: 35px;
        width: 35px;
    }

    .logo-con {
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    .nav-con.nav-active {
        position: fixed;
        padding: 0;
        z-index: 30;
    }

    .menu-item a:hover::after,
    .menu-item a:focus::after,
    .current-menu-item a::after,
    .current-menu-item a:hover::after,
    .current-menu-item a:focus::after {
        display: none;
    }

    /* home page */

    .hero-img-con {
        height: 100vh;
        object-fit: cover;
    }

    .hero-img {
        display: none;
    }

    .hero-img-mb {
        display: block;
        height: 100vh;
        width: auto;
        margin-top: -5vh;
    }

    .welcome-con {
        height: calc(100vh - 50px);
        overflow: hidden;
        width: 100vw;
        padding: 5vw;
    }

    .home-sub {
        text-align: center;
        font-weight: var(--font-medium);
    }

    .info-con {
        flex-direction: column;
    }

    .info-item-con {
        width: 100%;
        margin: 5vw 0;
    }

    /* about page */

    .about-con {
        flex-direction: column;
    }

    .about-text-con {
        width: 80vw;
    }

    .about-header {
        font-size: 2rem;
        padding-top: 1rem;
    }

    .about-bodycopy {
        width: clamp(45ch, 80vw, 75ch);
        padding-right: 10vw;
    }

    .about-img-con {
        flex-direction: column;
        width: 80vw;
        padding: 10vw 0 10vw 0;
    }

    .about-img {
        width: 100%;
        height: 50vw;
    }

    .about-img:nth-child(1) {
        margin-bottom: 5vw;
    }

    .about-list {
        list-style: none;
    }

    /* adopt page */

    .adopt-img {
        height: 60vh;
    }

    .adopt-header {
        padding-bottom: 0;
    }

    .adopt-text-con {
        height: auto;
    }

    .adopt-section {
        width: 100%;
    }

    .adopt-bodycopy {
        width: 100%;
    }

    .adopt-lg-img {
        display: none;
    }

    .adopt-mb-img {
        display: block;
        width: 100%;
    }

    .adopt-list {
        list-style: none;
    }

    .woocommerce-billing-fields {
        padding: 5vw 10vw;
    }

    .woocommerce-info {
        padding: 1rem 10vw 0 27vw;
    }

    .woocommerce #payment #place_order,
    .woocommerce-page #payment #place_order {
        height: 4rem;
        font-size: var(--subhead-sm);
    }

    .woocommerce a.added_to_cart {
        padding: 0.7rem 0;
    }

    .page-description form {
        bottom: 20vh;
    }
}
